<nav class="nav">
  <a class="logo-container" href="https://mariaperegrina.org.br">
    <img class="logo" src="/assets/img/logo.png" alt="Imagem de Exemplo" width="50px">
  </a>
  <div class="title">Suco Maria Peregrina</div>
  <div class="links">
    <button class="nav-button" onclick="window.location.href='https://l.instagram.com/?u=https%3A%2F%2Fbit.ly%2FAssineSuco&e=AT0T0okdIUfbzT5w1ollShXaqEwZZFTy9EVgD-Wa4hahzTtgH4jQ7REJzvubZzIOuiRKboLk-DXOEsKcCqNarQGVp0dYczg7bEoG9f4'">Saiba Mais</button>
  </div>
</nav>

 <header>
    <div class="header-content">
        <div class="text">
            <div class="title">Experimente o Suco Maria Peregrina que é 100% Natural e apoie a nossa instituição!</div>
            <p>Adquira o nosso delicioso Suco 100% Natural, feito apenas com frutas frescas e sem aditivos e ajuda no emagrecimento e hidratação corporal. 
            Cada compra ajuda a Instituição Maria Peregrina, que apoia crianças e jovens. 
            Cadastre-se em nosso site, compre e faça a diferença na sua saúde e na vida de quem precisa. 
            Para mais informações, entre em contato conosco!.</p>
            <button class="animated-button" 
            onclick="window.location.href='https://l.instagram.com/?u=https%3A%2F%2Fbit.ly%2FAssineSuco&e=AT0T0okdIUfbzT5w1ollShXaqEwZZFTy9EVgD-Wa4hahzTtgH4jQ7REJzvubZzIOuiRKboLk-DXOEsKcCqNarQGVp0dYczg7bEoG9f4'">Saiba mais</button>
        </div>
        <div class="image">
            <img src="/assets/img/sucomp1.png" alt="Imagem de Exemplo" width="400px">
        </div>
    </div>
</header>



<section id="products">
    <div class="container">
        <h2>Nossos Contatos</h2>
        <div class="product-card">
            <img src="/assets/img/laranja.png" alt="Produto 1">
            <h3>Suco de Laranja</h3>
            <p>Feito com laranjas naturais e frescas!</p>
        </div>
        <div class="product-card">
            <img src="/assets/img/entrega.png" alt="Produto 2">
            <h3>Entrega a domicílio</h3>
            <p>Entrega no conforto da sua casa.</p>
        </div>
        <div class="product-card">
            <img src="/assets/img/escola.png" alt="Produto 3">
            <h3>Ajuda a manter a Escola</h3>
            <p>Ao comprar o suco, você ajuda a escola.</p>
        </div>
    </div>

 <section class="contact">
        <div class="container">
            <div class="contact-form">
                <h2>Entre em Contato Conosco</h2>
                <form action="https://example.com/contact" method="post">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Mensagem:</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <button type="submit" class="submit-button">Enviar</button>
                </form>
            </div>
        </div>
</section>

<footer>
    <div class="footer-content">
        <div class="footer-links">
            <div class="line"></div>
            <a href="tel:+55 17 98811-7656" target="_blank"><img src="/assets/img/whatsapp.png" alt="WhatsApp"></a>
            <a href="https://www.instagram.com/sucomariaperegrina/" target="_blank"><img src="/assets/img/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/p/Sucomariaperegrina-100076134433405/" target="_blank"><img src="/assets/img/facebook.png" alt="Facebook"></a>
            <div class="line"></div>
        </div>
        <div class="location">
            <h1>Onde comprar?</h1>
            <p>Escola Maria Peregrina</p>
             <p>R. Francisco Rodrigues de Freitas, 184 - CECAP, São José do Rio Preto - SP, 15041-049</p>
            <p>Brechó Maria Peregrina</p>
            <p>Av. Fortunato Ernesto Vetorasso, 1462 - CECAP, São José do Rio Preto - SP, 15041-000</p>
            <p>Bella Capri</p>
        <p>Av. Fortunato Ernesto Vetorasso, 345 - Jardim Santa Lucia, São José do Rio Preto - SP, 15040-170</p>
        </div>
    </div>
</footer>